<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<div class="Wrapper mainBody">
    <h1 class="Title">PC Deal Finder</h1>
    <h2 class="Title2">Find a part scraped from several sites. </h1>
        <div class="Input">
            <form method="POST" action="/"> 
                <input name="Part" type="text" id="input" class="Input-text" placeholder="Enter a PC Part or keyword (e.g CPU)">
                <label for="input" class="Input-label">Manufacturers are also valid input!</label>
            </form>
        </div>
    </div>
</html>