<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/resultpage.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='deal_items.js') }}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='sort.js') }}" type="text/javascript"></script>
</head>
<body>
    <div class="Wrapper">
        <div class="locked">
            <h1 class="Title">PC Deal Finder</h1>
            <h2 class="Title2">Find a part scraped from several sites. </h1>
                <div class="Input">
                    <form method="POST" action="/"> 
                        <input name="Part" type="text" id="input" class="Input-text" placeholder="Enter a PC Part or keyword (e.g CPU)">
                        <label for="input" class="Input-label">Manufacturers are also valid input!</label>
                    </form>
                </div>
            </div>
            <div id="paginationIndex" class="pagination">
                <!-- <a class="active" href="#">1</a -->
                <!-- <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a> -->
            </div>
            <div class="container-fluid">
                
            </div>
            <div id="deals-list" style="display:none">
                <div id="NoSearchResults" class="alert alert-danger">No search results found!</div>
                <!-- <iframe style="display:none" onload="sortFunction()" src="{{url_for('static', filename='sort.js') }}"></iframe> -->
            </div>
            <iframe style="display:none" onload="initialSort({{t}})" src="{{url_for('static', filename='sort.js') }}"></iframe>
        </div>
    </body>
    </html>
    